# Mail credential file
/Data/mailCredentials.t
/Data/newPwdMail.t
/Data/debtMail.t
/Data/Users/*
/Data/Stats/*
/Data/allStudents.csv
/Data/refUsers.csv
/Data/allStaff.csv
/Modules/__pycache__
/Modules/__pycache__/*
Resources/qrcode.png
